:root {
  --light-peach: hsl(22, 100%, 81%);
  --coral: #FF8360;
  --yellow: #E8E288;
  --dark-green: #4C5B5C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

img {
  width: 100%;
  height: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--light-peach);
  padding: 10px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  margin-right: 20px;
}

.main-menu ul li a {
  transition: all 0.5s;
}

.main-menu ul li a:hover {
  color: var(--yellow);
}

.logo-box {
  width: 60px;
}

.logo {
  border-radius: 100%;
}

/* Hero */

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-box {
  width: 500px;
}

.main-heading {
  line-height: 1.3;
  font-size: 50px;
  font-weight: 700;
}

.text {
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  background-color: var(--coral);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

.img-box {
  width: 500px;
  height: 600px;
}

.hero-img {
  height: 100%;
}

/* Menu */

.menu {
  margin: 100px 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 30px;
}

.menu .container {
  display: flex;
  gap: 30px;
}

.card {
  background-color: var(--coral);
  padding: 20px;
  color: #fff;
  border-radius: 15px;
  text-align: center;
}

.card-img-box {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.card-img {
  border-radius: 10px;
}

.card-heading {
  font-size: 20px;
  margin-top: 20px;
}

.card-text {
  font-weight: 500;
  margin-top: 10px;
}

/* Footer */

.footer {
  background-color: var(--dark-green);
  padding: 60px 20px;
  color: #fff;
}

.footer .logo-box {
  margin-bottom: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer .box {
  max-width: 400px;
}

.footer p {
  margin-bottom: 20px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  transition: 0.3s;
}

.footer ul li a:hover {
  color: var(--coral);
}

.footer i {
  font-size: 20px;
  margin-right: 10px;
  transition: 0.3s;
}

.footer i:hover {
  color: var(--coral);
}

/* Container */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 700px) {
  .navbar .container {
    flex-direction: column;
    padding: 10px 0;
  }

  .main-menu {
    margin-top: 20px;
  }

  .hero .container {
    flex-direction: column;
  }

  .text-box {
    text-align: center;
    padding: 50px 0;
  }

  .main-heading {
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 50px;
  }

  .text {
    margin-bottom: 30px;
  }

  .menu .container {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}